@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Manrope", serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EDF2F8;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 41px;
    background-color: white;
    border-radius: 8px;
}

.left img {
    width: 286px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 21px;
    margin-right: 51px;
    width: 445px;
}

.right .top h1 {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 39px 0 24px 0;
    color: #4F5563;
}

.right .top p {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 20px;
    color: #9eafc2;
    margin-bottom: 3px;
}

.left-side > img {
    width: 40px;
    border-radius: 100px;
    margin-bottom: 32px;
}

.right .bottom {
    display: flex;
    flex-direction: row;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.share {
    position: relative;
}

.share > img {
    object-fit: contain;
    padding: 8px;
    background-color: #ecf2f8;
    border-radius: 100%;
}

.share img:hover {
    cursor: pointer;
}

.left-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.left-side img {
    margin-right: 17px;
}

.name .author, .name .date {
    font-size: 13px;
    font-weight: 600;
}

.name .author {
    letter-spacing: .4px;
}

.name .date {
    letter-spacing: .2px;
    color: #9eafc2;
}


.inactive {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.box {
    background-color: #48556a;
    position: absolute;
    height: 22px;
    width: 22px;
    bottom: -10px;
    left: 50%;
    transform: rotate(45deg);
    z-index: 0;
}

.active {
    position: absolute;
    top: -80px;
    right: -95px;
    z-index: 50;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #48556a;
    height: 55px;
    width: 248px;
    font-size: 13px;
    letter-spacing: 5px;
    border-radius: 8px;

    color: white;
}

.active img {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

@media (max-width: 860px) {
    main {
        flex-direction: column;
        width: 327px;
        gap: 0;
    }

    .left img {
        width: 100%;
        height: 200px;
        border-radius: 8px 8px 0 0;
    }

    .top h1, .top p {
        width: 255px;
        margin: 0 0 24px 33px;
        padding: 0 !important;
    }

    .top h1 {
        font-size: 16px;
        padding-top: 42px !important;
    }
    
    .top p {
        font-size: 13px;
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between ;
        width: 300px;
    }

    .left-side img {
        margin-left: 24px;
    }
}